In [1]:
import pandas as pd
import numpy as np

In [2]:
student_performance=pd.read_csv('Student_Performance.csv')
dropout=pd.read_csv('dropout_risk.csv')

In [3]:
result = pd.merge(student_performance ,dropout , how="inner", on=["Student_ID", "attendance_rate"])

In [4]:
result

,Student_ID,Time_Spent_On_App,Past_Grades,attendance_rate,time_spent_on_quiz,question_attemted,pass_fail,topic_difficulty,future_score,inactivity_score,poor_performance_score,inconsistent_engagement_score,study_hours_per_week,previous_failures,dropout
0,1,6.950454,77,78,3.435478,12,Pass,Low,97.369235,51,62,56,4,1,1
1,2,5.423922,90,74,3.796076,38,Pass,Low,94.474111,92,21,45,15,5,1
2,3,3.389583,92,75,1.768040,18,Pass,Low,96.187880,14,10,7,6,4,0
3,4,2.648182,29,71,2.376200,45,Fail,High,73.407000,71,57,9,0,2,0
4,5,0.428004,89,82,4.233338,4,Pass,Low,95.477781,60,56,72,8,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,7.314321,17,57,4.752757,1,Fail,High,76.996333,36,9,47,17,3,0
4996,4997,9.578554,41,66,0.237505,5,Pass,Medium,77.357260,78,5,61,7,5,0
4997,4998,4.288827,49,100,3.774395,0,Pass,Medium,80.316831,91,12,96,14,0,0
4998,4999,2.600729,45,92,1.461589,28,Pass,Medium,75.222848,17,64,59,40,3,1
4999,5000,7.638679,58,74,2.663795,1,Pass,Medium,81.316594,97,19,79,16,3,0

In [5]:
result.to_csv('Combined_data.csv')

In [6]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Student_ID                     5000 non-null   int64
 1   Time_Spent_On_App              5000 non-null   float64
 2   Past_Grades                    5000 non-null   int64
 3   attendance_rate                5000 non-null   int64
 4   time_spent_on_quiz             5000 non-null   float64
 5   question_attemted              5000 non-null   int64
 6   pass_fail                      5000 non-null   object
 7   topic_difficulty               5000 non-null   object
 8   future_score                   5000 non-null   float64
 9   inactivity_score               5000 non-null   int64
 10  poor_performance_score         5000 non-null   int64
 11  inconsistent_engagement_score  5000 non-null   int64
 12  study_hours_per_week           5000 non-null   int64
 13  previous_failures              5000 non-null   int64
 14  dropout                        5000 non-null   int64
dtypes: float64(3), int64(10), object(2)
memory usage: 586.1+ KB

In [8]:
result.describe()

,Student_ID,Time_Spent_On_App,Past_Grades,attendance_rate,time_spent_on_quiz,question_attemted,future_score,inactivity_score,poor_performance_score,inconsistent_engagement_score,study_hours_per_week,previous_failures,dropout
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000
mean,2500.500000,5.000816,50.351000,74.773200,2.452288,24.183000,79.904329,49.539400,50.25820,50.310400,19.758800,2.469200,0.387600
std,1443.520003,2.865633,29.211656,14.777559,1.435032,14.494258,12.752694,29.350583,29.04612,29.122852,11.773374,1.719896,0.487251
min,1.000000,0.000043,0.000000,50.000000,0.001135,0.000000,44.606272,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,1250.750000,2.531736,25.000000,62.000000,1.184566,11.000000,69.691606,24.000000,25.00000,25.000000,10.000000,1.000000,0.000000
50%,2500.500000,4.984954,50.500000,75.000000,2.426501,24.000000,79.901243,49.000000,51.00000,51.000000,20.000000,2.000000,0.000000
75%,3750.250000,7.497848,76.000000,88.000000,3.717456,37.000000,90.148013,75.000000,76.00000,76.000000,30.000000,4.000000,1.000000
max,5000.000000,9.999391,100.000000,100.000000,4.999837,49.000000,114.519587,100.000000,100.00000,100.000000,40.000000,5.000000,1.000000

In [11]:
result.drop_duplicates(inplace=True)

In [12]:
result.isnull().sum()

Student_ID                       0
Time_Spent_On_App                0
Past_Grades                      0
attendance_rate                  0
time_spent_on_quiz               0
question_attemted                0
pass_fail                        0
topic_difficulty                 0
future_score                     0
inactivity_score                 0
poor_performance_score           0
inconsistent_engagement_score    0
study_hours_per_week             0
previous_failures                0
dropout                          0
dtype: int64